app:
  data-directory: ./data
  databus:
    flow:
      provider:
        name: integration-tests

spring:
  application:
    name: global-producer
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      client-id: global-producer
      acks: all
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

logging:
  level:
    com.global.producer: INFO
